$colorprimary:#F1CDB3;
$colorprimary-light:#FDDCC4;
$colorwhite:#FFFFFF;
$colorgray-light-l:#F6F6F6;
$colorgray-light-s:#FAFAFA;
$colorgray-dark-s:#CDCDCD;
$colorgray-dark-w:#B2B2B2;
$colorgray-dark-l:#545454;
$colorgray-dark-x:#4C4C4C;
$colorgray-dark-xl:#444444;
$colorgray-dark-xx:#292929;
$colornav-main: #CDCDCD;
$fontsizeall: 15px;
$fontsizetitle: 36px;
$fontsizstart: 44px;
$fontsizebtn: 17px;
$ffffff: rgba(0, 0, 0, 0.259)