.about {
  margin-bottom: 90px;
  @media (max-width: 767px) {

    margin-bottom: -60px;

  }
  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding-top: 80px;
    column-gap: 120px;
    @media (max-width: 1279px) {
      padding: 64px 0 0;
      margin-bottom: 101px;
    }
    @media (max-width: 767px) {
      width: 100%;
      justify-content: initial;
      padding: 27px 0 0;
      margin-bottom: 101px;

    }
  }
  &__image {
    width: 300px;
    height: 410px;
    margin-bottom: 10px;
    @media (max-width: 1279px) {
      margin-top: 55px;
      margin-bottom: 0;
    }
    @media(max-width:767px){
      width: 256px;
      height: 356px;
      margin-bottom: 10px;
      margin: 13px auto 0;
    }
  }
  &__descr {
    width: 36%;
    max-width: 430px;
    @media (max-width: 1279px) {
      width: 61%;
    }
    @media (max-width: 767px) {
      width: 90%;
      text-align: center;
      margin: 0 auto;
    }
  }
  &__title {
    width: 370px;
    margin-bottom: 27px;
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
    }
  }

  &__text {
    @include fontArial;
    font-size: $fontsizeall;
    p {
      color: $colorgray-dark-x;
      line-height: 1.6;
      padding-bottom: 14px;
    }
    @media (max-width: 767px) {
      width: 270px;
      margin: 0 auto;
      line-height: 2.5;
      // /* letter-spacing: 0.05em; */
      text-align: justify;
    }

  }
}
.title {
  @include fontGeorgia;
  font-size: $fontsizetitle;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.19;
  // margin-bottom: 10px;}
  @media (max-width: 767px) {
    font-size: 25px;
  }
}
